:root {
    --primary-color: darkblue;
    --light-background: #eee;
    --standard-spacing: 1rem;
    --body-font: Roboto, Arial, sans-serif;
    --light-color: white;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

body {
    font-size:16px;
    font-family: var(--body-font);


}
nav a {
    color: var(--light-color);
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;

}

h1 {
    color: var(--primary-color);

}

main img {

    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 var(--standard-spacing) 2rem;



}





p {
    margin: 1rem;
    padding: 0;


}
aside img {
    width: 200px;
    height: auto;

}


aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: var(--standard-spacing);
    background-color: var(--light-background);
    color: #333;
    text-align: center;
    position: relative;

}

aside h2 {
    position: absolute;
    top: 30px;
    left: 120px;



}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}

/* class Selectors */
.box {
    margin: var(--standard-spacing);
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 1rem;
    background-color: var(--light-background);
    color: #000;

}

.indent {
    padding-left: 2rem;


}